AWS_ACCESS_KEY_ID=abc123
AWS_SECRET_ACCESS_KEY=def456
AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1

DEV_LAMBDA_FUNCTION1=mylambda-abc123-dev
DEV_LAMBDA_FUNCTION2=mylambda-def456-dev
DEV_LAMBDA_FUNCTION3=
DEV_LAMBDA_FUNCTION4=
DEV_LAMBDA_FUNCTION5=
DEV_LAMBDA_FUNCTION6=
DEV_LAMBDA_FUNCTION7=
DEV_LAMBDA_FUNCTION8=
DEV_LAMBDA_FUNCTION9=

PROD_LAMBDA_FUNCTION1=mylambda-abc123-prod
PROD_LAMBDA_FUNCTION2=mylambda-def456-prod
PROD_LAMBDA_FUNCTION3=
PROD_LAMBDA_FUNCTION4=
PROD_LAMBDA_FUNCTION5=
PROD_LAMBDA_FUNCTION6=
PROD_LAMBDA_FUNCTION7=
PROD_LAMBDA_FUNCTION8=
PROD_LAMBDA_FUNCTION9=